[program:evil_app]
command = /srv/evil-app/bin/console dv:evil:queue -e prod
autostart = true
autorestart = true
user = {user}
directory = /srv/evil-app
redirect_stderr = true
stdout_logfile = /var/log/evil-app.log
startsecs=3
startretries=3